﻿@model Easypay.WebUI.Models.AddSumModel

<div class="modal-content modal-body">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Установить лимит суммы</h4>
    </div>

    @using (Html.BeginForm("AddSum", "Home", FormMethod.Post))
    {
        <div class="form-horizontal">
            @Html.AntiForgeryToken()
            <div class="row">
                &nbsp;
                <div class="col-lg-offset-2">
                    <div class="form-group">
                        @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.TextBoxFor(model => model.Name, new { disabled = "disabled", @readonly = "readonly", @class = "form-control" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Sum, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Sum, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Sum, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                    @Html.Hidden("ProviderId", Model.ProviderId)
                </div>
        </div>
        
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button type="submit" id="approve-btn" class="btn btn-danger">Save</button>
            </div>
        </div>
    }
</div>



<script type="text/javascript">
    $(function () {
        $('#approve-btn').click(function () {
            $('#modal-container').modal('hide');
        });
    });
</script>