﻿@model IEnumerable<Easypay.WebUI.Models.ListViewModel>

@{
    ViewBag.Title = "Поставщики услуг";
}

<div class="panel panel-default">

    <div class="panel-heading">
        <h3>Список поставщиков услуг</h3>
    </div>

    <div class="panel-body">
        <table class="table table-striped table-condensed table-bordered">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.ServiceIdProvider)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DatePostProvider)
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.NameProvider)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ActiveProvider)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Sum)
                </th>
                <th></th>
                <th>
                    @Html.DisplayNameFor(model => model.SumDateTime)
                </th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.ServiceIdProvider)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DatePostProvider)
                    </td>
                    <td>
                        @Html.ActionLink(item.NameProvider, null, new { item.NameProvider })
                    </td>
                    <td>
                        @Html.Raw(item.ActiveProvider.GetValueOrDefault() ? "активный" : "не активный")
                    </td>
                    <td>
                        @item.Sum.ToString("#.00" + " грн")
                    </td>
                    <td>
                        @using (Html.BeginForm("ViewAddSum", "Home"))
                        {
                            @Html.Hidden("serviceId", item.ServiceIdProvider)

                            @Html.ActionLink("Лимит по суме", "ViewAddSum", "Home",
                                new { serviceId = item.ServiceIdProvider },
                                new { @class = "modal-link btn btn-success btn-xs" })
                        }
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SumDateTime)
                    </td>
                </tr>
            }

        </table>
    </div>

    <div class="panel-footer"></div>

</div>

